<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" sizes="16x16">
    <link rel="stylesheet" href="/uikit/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/content.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">


    <title>E-Exams: แก้ไขข้อมูลตึก</title>
</head>

<body>
    <%- include('../layouts/sidebar') %>;
        <%- include('../layouts/topbar') %>;

            <div class="content">
                <h3 class="uk-heading-line uk-text-center"><span>แก้ไขข้อมูลห้อง</span></h3>

                <div style="display: flex; justify-content: center">
                    <div style="min-width: 500px;">

                        <form action="/building/room/edit/submit" method="POST">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">ชื่อห้อง</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="text" name="namebuilding" required readonly value="<%= result.no %>" style="background-color:#F8F8F8">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">แถว</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="number" name="row" required value="<%= result.row %>" min="0">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">คอลัมน์</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="number" name="col" required value="<%= result.column %>" min="0">
                                </div>
                            </div>

                            <input type="text" hidden value="<%= result._id %>" name="_idRoom">
                            <input type="text" hidden value="<%= _idBuilding %>" name="_idBuilding">

                            <button class="uk-button uk-button-primary " style="width:100%;" type="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>

</body>

</html>

<script src="/uikit/js/uikit.min.js"></script>
<script src="/uikit/js/uikit-icons.min.js"></script>